{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="col d-flex justify-content-center align-items-center ">
	<form method="post" class="col-8" novalidate>
		{% csrf_token %}

		<div class="row">
			<div class="col-6">

				{{form.autor|as_crispy_field}}
			</div>
			<div class="col-6">
				{{form.titulo|as_crispy_field}}
			</div>
		</div>
		{{form.contenido|as_crispy_field}}
		
	    <input type="submit" class="btn btn-info" value="Modificar">
	</form>
</div>
{% endblock %}